@import '../../../node_modules/bootstrap/scss/bootstrap';
@import 'custom';
@import 'events';
@import 'flatpickr/dist/flatpickr.css';

// notifications modal

.swal-modal {
  padding: 30px;
}

.swal-title {
  font-size: 28px;
}

.float-left {
  float: left;
}
