.text-center {
  margin: 0 auto;
}

.form-border {
  padding: 20px 40px;
  border: 1px solid #20272B;
  border-radius: 3px;
}

.logo-text {
  font-weight: 800;
  font-size: 34px;
}

.create-event-btn {
  font-weight: bold;
  margin-left: 30px;
}

.create-event-btn a {
  font-weight: bold;
}

.full-screen-height {
  min-height: 100vh;
}

.session-btns {
  margin-left:auto;
}

@media screen and (max-width: 450px) {
  .create-event-btn {
    margin-top: 20px;
    margin-left: 0;
  }

  .session-btns {
    margin-right: auto;
    padding-top: 20px;
  }

  .navbar-expand-lg {
    padding-bottom: 20px;
  }
}

/* Buffers */
.buffer-top {
  margin-top: 20px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

/* Thumbnails for events/index */
.thumbnail {
  position: relative;
  background: transparent;
  margin: 10px 0;
  overflow: hidden;
  border-radius: 5px;
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: .3em;
}

.thumbnail-inner {
  padding: 20px 4px 4px;
}

//devise

.delete-account-block {
  margin-top: 20px;
  padding: 20px;
  background-color: #E9EBEE;
}

.delete-account-block h2 {
  margin-bottom: 30px;
}

.alert-text-color {
  color: #C82232;
}

// footer

footer {
  padding: 5px 0;
  background-color: #000;
  bottom:0;
  width: 100%;
}

footer a {
  display: inline-block;
  margin-right: 10px;
  padding: 0 !important;
}

footer img {
  background-color: #000;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  background: radial-gradient(circle at center, white 60%, transparent 61%);
  overflow: hidden;
}

footer img:hover {
  opacity: 0.6;
}

.copyright {
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 450px) {
  .copyright {
    margin-top: 20px;
    display: block;
  }
}

// form buttons

@media screen and (max-width: 450px) {
  .forgot-btn {
    margin-left: 0 !important;
    margin-top: 20px;
  }

  .send-instructions {
    margin-bottom: 10px;
  }
}
