.event-info {
  position: relative;
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
}

.event-background {
  width: 100%;
  z-index: -1;

  top: 0; bottom: 0;
  left: 0; right: 0;

  background-size: cover;
  background-position: center;
}

.event-background, .event-background-show {
  background-image: image-url('back.jpg');
}

.event-background-show {
  padding: 0 20px;
}

.event-description {
  color: white;
}

.event-description a {
  color: #d0d0ff;
  text-decoration:none
}

.event-description a:hover {
  opacity: 0.6;
}

.event-description small {
  color: #e0e0e0;
}

.event-info-inner {
  padding: 20px;
}

.event-map {
  margin: 20px 0;
  width: 100%;
  height: 400px;
}

#flatpickr {
  background-color: #fff;
}

.edit-event-btn {
  padding: 5px 10px;
}

.no-events {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}


// comments

@media (min-width: 450px)  {
  .comments-block {
    overflow-y: initial !important
  }

  .comments-body {
    height: 340px;
    overflow-y: auto;
  }
}

.comments-block {
  padding-bottom: 10px;
  background-color: #F6F7F9;
}

.comment-block {
  padding: 7px;
  margin: 10px 0;
  border-radius: 3px;
  background-color: #fff;
}

.user-block {
  display: flex;
}

.avatar-datetime {
  width: 100px;
  height: 100px;
  flex-direction: column;
}

.name-datetime-comment-buttons {
  flex-direction: column;
  margin-left: 8px;

  .name {
    a {
      text-decoration: none;
    }
  }

  .datetime {
    margin-left: 5px;
    font-size: 14px;
    color: #000;
    opacity: 0.5;
  }

  .comment {
    margin-top: 3px;
    text-align: start;
    color: #000 !important;
    opacity: 0.8;
  }
}

.trash-button:hover {
  opacity: 0.7;
}

.buttons {
  flex: 1;
  display: flex;
  a {
    align-self: flex-end;
    margin-left: auto;
  }
}

// subscribers

.subscribers-block {
  display: flex;
  align-items: baseline;

  span {
    color: #000 !important;
    opacity: 0.9;
    font-weight: bold;
  }

  button {
    width: 30px;
    height: 30px;
  }

  button span {
    opacity: 1;
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
  }

  margin: 10px 0;
}

// modal subscribers

.modal-content {
  padding: 20px;
}

.modal-dialog{
  overflow-y: initial !important
}

.modal-body{
  height: 350px;
  overflow-y: auto;
  opacity: 1 !important;

  .user-name-title {
    color: #000;
  }
}

.modal-header, .modal-header .close-btn {
  border-bottom: none !important;
  text-align: center !important;
  color: #000 !important;

  .subscribers-title {
    opacity: 0.8;
  }

  p {
    font-size: 22px;
  }
}

.subscriber-block {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.user-link {
  margin-left: 20px;
  a {
    text-decoration: none;
  }
}

.unsub-btn {
  margin-left: auto;
  font-weight: bold;
  color: #DC3545;
}

.unsub-btn:hover {
  background-color: #DC3545;
  color: #fff;
}

.user-events-link {
  margin-left: auto;

  @media (max-width: 450px)  {
    display: none;
  }
}
